<!DOCTYPE HTML>
<html>
	<head>
		<title>MentorMatch</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">MentorMatch</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Home</a></li>
                                            <li><a href="/our-story">Our Story</a></li>
                                            <li><a href="/sign-up">Sign Up</a></li>
                                        </ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Our Story</h2>
							<p>The story behind MentorMatch</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<section>
                                    <p>
                                        Before my professional career even began, I was blessed to find an amazing
                                        mentor: Professor Catherine Norris. When I met her, I was still a pre-medicine
                                        student at Swarthmore trying to force myself to do something I was not good at
                                        and did not enjoy, but at the end of my sophomore year I discovered that I had
                                        a talent for computer science. Professor Norris saw my burgeoning interest in
                                        coding and provided me with opportunities to try it out in our research,
                                        and gave me the encouragement and support I needed to take the leap into tech.
                                        <br/><br/>
                                        Now that I have had some experience working in the tech industry, I want to
                                        give back and help other women and under-represented groups find mentors in tech.
                                        It can be a difficult task to do on your own, especially given how
                                        male-dominated CS is. With MentorMatch, I'm hoping to make the process as easy
                                        as possible. I never would be where I am today without Professor Norris, and
                                        I believe that if we can foster an environment of women helping other women
                                        succeed in tech, then we will be able to change the world for the better.
                                        <br/><br/>
                                        - Emily Wu

                                    </p>
								</section>
							</div>
						</section>
					</article>

				<!-- Footer -->
					<footer id="footer">
{#						<ul class="icons">#}
{#							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>#}
{#							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>#}
{#							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>#}
{#							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>#}
{#							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>#}
{#						</ul>#}
						<ul class="copyright">
							<li>&copy; MentorMatch 2019</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
